# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/visual-effect-app/node_modules
/visual-effect-app/.pnp
/visual-effect-app/.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/visual-effect-app/.idea/
/visual-effect-app/.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
visual-effect-app/.idea/modules.xml
